@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Black-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-BlackItalic-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Bold-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-BoldItalic-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Extralight-Trial.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-ExtralightItalic-Trial.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Light-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-LightItalic-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-MediumItalic-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-RegularItalic-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Semibold-Trial.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-SemiboldItalic-Trial.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Super-Trial.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-SuperItalic-Trial.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Thin-Trial.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-ThinItalic-Trial.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
