.filtersContainer {
  padding: 22px 32px;
}

.filtersContainerTitle {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15;
  margin: 0 0 4px;
}

.filtersContainerListingsCount {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  height: 1.5rem;
  margin: 0 0 2rem;
}

.listingCardsContainer {
  padding: 0 22px 0 28px;
}
